@model List<SectorToListDTO>
@{
    Layout = "_MyLayout";
}

<link href="~/css/but.css" rel="stylesheet" />

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Sector</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Sector</li>
        </ol>
        <a asp-controller="Sector" asp-action="AddSector" class="btn btn-primary">AddSector</a>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Data
            </div>

            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                           
                            <th>SectorName</th>
                            <th>DepartmentName</th>
                            <th>Update</th>
                            <th>Delete</th>

                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>SectorName</th>
                            <th>DepartmentName</th>
                            <th>Update</th>
                            <th>Delete</th>

                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var sector in Model)
                        {
                            <tr>
                                <td>@sector.SectorName</td>
                                <td>@sector.Department.DepartmentName</td>
                                <td>@Html.ActionLink("Update", "UpdateSector", "Sector", new { id = sector.SectorId}, new { @class = "btn btn-success" })</td>
                                <td>@Html.ActionLink("Delete", "Delete", "Sector", new { id = sector.SectorId }, new { @class = "btn btn-danger" })</td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</main>