@model DepartmentToAddDTO
<form method="post" asp-controller="Department" asp-action="Add">

<div class="form-group">
    <label for="departmentname">DepartmentName</label>
    <input asp-for="DepartmentName" type="text" class="form-control" id="departmentname" placeholder="enter departmentname" />
</div>

<button type="submit" class="btn btn-success">Add</button>

</form>